render-desktop nav {
  display: flex;
  justify-content: space-around;
}
render-desktop nav .menu-item {
  padding: 12px 15px;
  font-size: 12px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  border-bottom: 0px solid rgb(34, 34, 34);
  transition: 0.3s;
}

render-desktop nav .menu-item:hover {
  border-bottom: 3px solid rgb(34, 34, 34);
  cursor: pointer;
}

render-desktop sub {
  display: flex;
  justify-content: center;
}

render-desktop .row {
  display: flex;
  width: 1140px;
}
render-desktop #col1 {
  width: 300px;
  padding: 40px 0px 90px 0px;
}
render-desktop #col1 wrapper1 {
  display: block;
}
render-desktop #col1 wrapper1 item {
  display: block;
  padding: 20px 45px;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  cursor: pointer;
}
render-desktop #col1 wrapper1 item i {
  visibility: hidden;
  display: inline-block;
  padding-right: 5px;
}
render-desktop #col1 wrapper1 item.itemselect {
  background-color: #777777;
  border-radius: 50px;
  color: white;
  padding-left: 45px;
}
render-desktop #col1 wrapper1 item.itemselect i {
  visibility: visible;
}

render-desktop #col1 wrapper1 item.itemselect::before {
  /*font-family: FontAwesome;
    font-weight: 400;
    content: "\f0da";
    padding-right: 10px;*/
}

render-desktop #col2 {
  padding: 40px 0px 90px 0px;
}

render-desktop #col2 wrapper2 {
  display: flex;
}

render-desktop #col2 wrapper2 div.right ul {
  list-style: none;
}

render-desktop #col2 wrapper2 div.right ul li {
  padding: 10px 20px;
}

render-desktop #col2 wrapper2 div.right ul li a {
  padding-left: 15px;
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
}
render-desktop #col2 wrapper2 div.right ul li a i {
  visibility: hidden;
  display: inline-block;
  padding-right: 5px;
}

render-desktop #col2 wrapper2 div.right ul li a:hover {
  text-decoration: underline;
  font-weight: bold;
}
render-desktop #col2 wrapper2 div.right ul li a:hover i {
  visibility: visible;
  text-decoration: none;
}

render-desktop #col2 wrapper2 div.right ul li a:hover::before {
  /*font-family: FontAwesome;
  font-weight: 400;
  content: "\f0da";
  padding-right: 10px;*/
}

render-desktop div.left > img {
  max-width: 300px;
}
render-mobile {
  overflow: hidden;
}
render-mobile itemm {
  display: block;
  padding: 10px 5px;
  border-bottom: solid #777777 1px;
}

render-mobile itemm span.icon {
  float: right;
  margin-right: 10px;
}
render-mobile subitemms {
  display: flex;
  flex-wrap: wrap;
  background-color: aqua;
  overflow: hidden;
}
render-mobile subitemms subitemm {
  width: 50%;
  text-align: center;
}
render-mobile subitemms subitemm img {
  max-height: 100px;
}
render-mobile subitemms subitemm h4 {
  margin: 0px 2px;
}
render-mobile wrapperm {
  display: none;
}
render-mobile wrapperm {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: end;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  z-index: 1000;
}
render-mobile wrapperm container {
  width: 350px;
  height: 100vh;
  background-color: white;
  display: block;
  z-index: 1000;
  padding: 10px;
  box-shadow: -6px 0px 13px -6px rgba(202, 202, 202, 0.75);
  -webkit-box-shadow: -6px 0px 13px -6px rgba(202, 202, 202, 0.75);
  -moz-box-shadow: -6px 0px 13px -6px rgba(202, 202, 202, 0.75);
}
render-mobile wrapperm overlay {
  background-color: rgba(0, 0, 0, 0);
  width: 100vw;
  height: 100vh;
  display: block;
  position: absolute;
  top: 0;
  z-index: -1;
}
render-mobile wrapperm .right {
  display: inline;
  float: right;
}
render-mobile wrapperm .left {
  display: inline;
  float: left;
}

render-mobile .selectednav {
  animation: slide-in ease-in-out 0.5s forwards;
  -webkit-animation: slide-in ease-in-out 0.5s forwards;
}

render-mobile .dismissnav {
  animation: slide-out ease-in-out 0.5s forwards;
  -webkit-animation: slide-out ease-in-out 0.5s forwards;
}

@keyframes slide-in {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
  }
}
